:root {
  --primary-color: #e6e9ee;
  --secondary-color: #000;
}

body {
  background-color: var(--primary-color);
}

.App {
  margin-top: 4%;
  font-family: sans-serif;
  text-align: center;
}

.App #github-repo {
  font-size: 3rem;
  color: #231f20;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

h1 {
  color: var(--secondary-color);
  max-width: 80%;
  margin: 1.3rem auto;
}

h2 {
  margin: 2rem 0;
}

input {
  padding: 1rem;
  max-width: 80%;
  width: 500px;
  border-radius: 1.5rem;
  border: 1px solid #000;
}

#mean {
  margin: auto auto 2rem;
  max-width: 80%;
  width: 800px;
  padding-top: 1.5rem;
  font-weight: 600;
}

span {
  margin: 1rem;
  font-size: 2.5rem;
  line-height: 2em;
  cursor: pointer;
}
